* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    

    body {
      font-family: 'Inter', sans-serif;
      background-color: #1e222d;
      color: #f1f1f1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      padding: 20px;
    }

    .container {
      max-width: 400px;
      width: 100%;
      background-color: #1e222d;
      text-align: center;
    }
    span {
        font-family: 'actor', sans-serif;
        letter-spacing: 2.0px;
        font-size: 21px;
    }

    .acme {
        font-family: 'Inter', sans-serif;
        font-weight: 100 !important;
        font-size: 30px;
        letter-spacing: 4.2px;
    }

    .logo {
      text-align: center;
      margin-bottom: 40px;
      display: flex;
    align-items: center; 
    justify-content: left; 
    gap: 15px; 
    }

    .logo span {
      color: #f5d142;
      font-weight: bold;
    }

    .logo .acme {
      color: white;
      font-size: 20px;
    }

    h2 {
      margin-bottom: 30px;
      font-size: 24px;
      color: white;
      font-family: 'Actor', sans-serif;
      letter-spacing: 2.0px;
    }

    .input-group {
      position: relative;
      display: flex;
      margin-bottom: 15px;
      flex-direction: column;
      gap: 10px;
      
    }

    .input-group input {
      width: 85%;
      padding: 12px;
      border-radius: 6px;
      border: none;
      background-color: #a9a9a9;
      font-size: 16px;
      color: #333;
      flex: 1;
    }
    .selectcontenedor {
      display: flex;
      justify-content: end;
      margin-top: -50px;
      margin-left: 350px;
      
      
    }
    select {
      width: 52px; /* Ajusta el tamaño del select */
    padding: 8px;
    font-size: 14px;
    background-color: #a9a9a9;
    color: #333;
    border: none;
    border-radius: 5px;
    height: 37px;
    
    }
    

    input::placeholder {
    color: rgb(255, 255, 255);
    font-family: 'Actor', sans-serif;
    font-weight: 100 !important;
}

    .input-group .dropdown-icon {
      right: 12px;
      left: auto;
      pointer-events: none;
    }

    .remember {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 8.5px;
      margin-bottom: 20px;
      color: #ccc;
      font-family: 'Manrope', sans-serif;
      margin-left: 1%;
    }
    

    button {
      width: 35%;
      padding: 7px;
      background-color: #fdd842b8;
      color: white;
      font-size: 16px;
      font-weight: 300;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-family: 'Manrope', sans-serif;
    }

    button:hover {
      background-color: #b99020;
    }

    .extras {
      font-size: 13px;
      color: #aaa;
      margin-top: 20px;
    }
    .extras p {
        font-family: 'Fredoka', sans-serif;
    }
    
    .forgot {
        font-size: 10px;
    }

    .extras a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
    
    .new {
        margin-top: 25px;
    }
    .contenedor {
            position: relative;
            display: inline-block;
            background: #aeaeae;
            padding: 7px 4px;
            cursor: pointer;
            border-radius: 5px;
            margin-right: -9%;
           
        }

        .texto-seleccionado {
            margin-right: 10px;
        }
        .flecha {
            color: black;
            margin-left: -20%;
            font-size: 15px;
            text-align: center;
            justify-content: center;
            justify-items: center;
            text-justify: center;
            padding-left: 6px;

        }
        .opciones {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: white;
            box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
            width: 150px;
            border-radius: 5px;
            overflow: hidden;
        }

        .opciones a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: black;
        }

        .opciones a:hover {
            background: #ddd;
        }

        .contenedor.activo .opciones {
            display: block;
        }

        .bancologo {
          height: 7.5vh;
          margin: -20px; 
        }

    @media screen and (max-width: 480px) {
      h2 {
        font-size: 20px;
      }

      .input-group input {
        font-size: 14px;
      }

      button {
        font-size: 14px;
      }
    }