* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #1e222d;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 400px;
  width: 100%;
  background-color: #1e222d;
  text-align: center;
}

span {
  font-family: 'actor', sans-serif;
  letter-spacing: 2.0px;
  font-size: 21px;
}

.acme {
  font-family: 'Inter', sans-serif;
  font-weight: 100 !important;
  font-size: 30px;
  letter-spacing: 4.2px;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  align-items: center; 
  justify-content: left; 
  gap: 15px; 
}

.logo span {
  color: #f5d142;
  font-weight: bold;
}

.logo .acme {
  color: white;
  font-size: 20px;
}

h2 {
  margin-bottom: 30px;
  font-size: 24px;
  color: white;
  font-family: 'Actor', sans-serif;
  letter-spacing: 2.0px;
}

.input-group {
  position: relative;
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  gap: 10px;
}

.input-group input {
  width: 85%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #a9a9a9;
  font-size: 16px;
  color: #333;
  flex: 1;
}

input::placeholder {
  color: rgb(255, 255, 255);
  font-family: 'Actor', sans-serif;
  font-weight: 100 !important;
}

.selectcontenedor {
  margin-left: 300px;
}

select {
  width: 52px;
  padding: 2px;
  font-size: 14px;
  background-color: #a9a9a9;
  color: #333;
  border: none;
  border-radius: 5px;
  height: 37px;
}

button {
  width: 15%;
  padding: 7px;
  background-color: #cba40caf;
  color: white;
  font-size: 16px;
  font-weight: 100;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Manrope', sans-serif;
  margin-top: 10px;
}

button:hover {
  background-color: #64fd42b8;
}

.extras {
  font-size: 13px;
  color: #aaa;
  margin-top: 20px;
}

.extras p {
  font-family: 'Fredoka', sans-serif;
}

.forgot {
  font-size: 10px;
}

.extras a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.bancologo {
  height: 7.5vh;
  margin: -20px;
}

.form-box {
  background-color: #d3d3d3;
  padding: 35px 25px 35px 25px;

  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.label {
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
  color: #333;
  font-family: 'Actor', sans-serif;
}

.input-group input {
  width: 100%;
  background-color: #e3e3e3;
  font-family: 'Actor', sans-serif;
  
}



button {
  width: 100%;
  padding: 7px;
  background-color: #fdd842c7;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}

button:hover {
  background-color: #e6c000;
}

.extras {
  margin-top: 15px;
}

.extras a {
  color: #5a64f1;
  font-size: 15px;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 20px;
  }

  .input-group input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}